---
import Layout from '../layouts/Layout.astro';
import About from '../layouts/About.astro';
import Features from '../layouts/Features.astro';
import Statistics from '../layouts/Statistics.astro';
import '../styles/tailwind.css';
---

<Layout title="Synthlat">
  <main class="space-y-5"> <!-- Clase de Tailwind para separación vertical -->
    <About></About>
    <Features></Features>
    <Statistics></Statistics>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1200px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1; /* Cambiado a 1 para mejor alineación */
    margin-bottom: 0.625rem; /* 10px en rem */
  }
</style>
