---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="The best music bot, apply filters, get song lyrics and much more." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpeg" href="/icon.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'NewAmsterdam';
		src: url('/fonts/NewAmsterdam-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'SpaceGroteskM';
		src: url('/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'SpaceGroteskR';
		src: url('/fonts/SpaceGrotesk-Regular.tff') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'SpaceGroteskL';
		src: url('/fonts/SpaceGrotesk-Ligth.tff') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	.mycontainer {
		background-color: #0b0329;
	}

	.new-asterdam-font {
  		font-family: 'NewAmsterdam', sans-serif;
	}
	.space-grotesk-m {
  		font-family: 'SpaceGroteskM', sans-serif;
	}
	.space-grotesk-r {
  		font-family: 'SpaceGroteskR', sans-serif;
	}
	.space-grotesk-r {
  		font-family: 'SpaceGroteskL', sans-serif;
	}

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: sans-serif;
		--tw-bg-opacity: 1;
		background: #06011a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		margin: 20px 20px 20px 20px;
		font-family: SpaceGroteskM;
	}
</style>
